In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("depremson.csv", sep=";")

In [4]:
df.head(100)

    Tarih    Enlem   Boylam Derinlik   Mw
0    2020  39,6762  27,8122      5,5  3,7
1    2020  35,5632   31,606        5  3,6
2    2020  39,0075  35,8543        5  3,4
3    2020  38,1787  38,6887      8,2  4,1
4    2020  39,0807  27,6843      7,5  3,5
..    ...      ...      ...      ...  ...
95   2020  37,8022  29,9992      5,3    4
96   2020  39,3658  40,6797        5  4,4
97   2020  39,3623  40,6878        5  3,9
98   2020  39,3565  40,7635        5    4
99   2020   39,342  40,7037        5  4,1

[100 rows x 5 columns]

In [5]:
v = 0
while v < 17125:
    df.iloc[v,4] = df.iloc[v,4].replace(",",".")
    v = v + 1

In [6]:
df.head()

   Tarih    Enlem   Boylam Derinlik   Mw
0   2020  39,6762  27,8122      5,5  3.7
1   2020  35,5632   31,606        5  3.6
2   2020  39,0075  35,8543        5  3.4
3   2020  38,1787  38,6887      8,2  4.1
4   2020  39,0807  27,6843      7,5  3.5

In [7]:
i = 0
while i < 17125:
    df.iloc[i,1] = df.iloc[i,1].replace(",",".")
    df.iloc[i,2] = df.iloc[i,2].replace(",",".")
    df.iloc[i,3] = df.iloc[i,3].replace(",",".")
    i = i + 1

In [9]:
df.tail()

       Tarih Enlem Boylam Derinlik   Mw
17120   1901  37.8   27.8       15  5.0
17121   1901  38.4   31.4        5  5.0
17122   1901  38.2   27.7        5  5.0
17123   1901  37.9   27.9       15  4.8
17124   1900  37.8   29.1        5  5.0

In [10]:
df["Mw"].max()

'7.7'

In [11]:
file = open("denememm.txt","w",encoding="utf-8")

In [13]:
j = 0
while j < 17125:
    file.write(str(df.iloc[j,0]) + ";" + str(df.iloc[j,1]) + ";" + str(df.iloc[j,2]) + ";" +str(df.iloc[j,3]) + ";" + str(df.iloc[j,4]) + "\n")
    j = j + 1
file.close()

In [14]:
a = pd.read_csv("denememm.csv",sep=";")

In [15]:
a.head()

   Year  Latitude  Longitude  Depth   Mw
0  2020   39.6762    27.8122    5.5  3.7
1  2020   35.5632    31.6060    5.0  3.6
2  2020   39.0075    35.8543    5.0  3.4
3  2020   38.1787    38.6887    8.2  4.1
4  2020   39.0807    27.6843    7.5  3.5

In [16]:
a["Mw"].max()

7.7

In [17]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17125 entries, 0 to 17124
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       17125 non-null  int64
 1   Latitude   17125 non-null  float64
 2   Longitude  17125 non-null  float64
 3   Depth      17125 non-null  float64
 4   Mw         17125 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 669.1 KB